*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: "Noto Sans SC";
}
html {
    overflow-y: auto!important;
}
body {
    cursor: url(http://localhost:3000/uploads/cursora-1605582890689.ico),auto;
}

a {
    text-decoration: none;
}
a:hover{
    text-decoration: none!important;
}

.v-note-wrapper{
    background-color: transparent!important;
    border: none!important;
    min-width: 100px!important;
    min-height: 50px!important;
  }
.v-note-op{
    background: transparent!important;
}
.v-note-panel{
border: none!important;
}
.v-show-content {
    background: transparent!important;
    padding: 10px 5px!important;
    padding-bottom: 0!important;
}
.markdown-body{
    color: #7f8c93!important;
    /* word-break: break-all; */
}
.markdown-body img{
    display: block;
    width: 50%;
    margin: 10px auto;
}
.markdown-body table{
    word-break: normal;
    width: 57vw!important;
    max-width: 880px!important;
}
.markdown-body pre{
    background-color: #1b1818!important;
    width: 57vw;
    max-width: 880px;
    font-size: 15px!important;
}
.markdown-body code {
    font-size: 15px!important; 
}
.markdown-body h6{
    color: #7f8c93!important;
}
.markdown-body blockquote {
    color: #7f8c93!important;
}
.markdown-body a{
    color: #2fa7b7!important;
}
.markdown-body a:hover{
    color: #f86210!important;
}
.markdown-body mark{
    color: #ffffff!important;
    background-color: pink!important;
    padding: 0 5px;
    border-radius: 3px;
}
.page-enter-active,
.page-leave-active{
    transition: opacity .3s;
}
.page-enter,
.page-leave-active{
    opacity: 0;
}
@media screen and (max-width: 800px) {
    
    .markdown-body pre{
        width: calc(100vw - 30px);
    }
    .markdown-body table{
        width: calc(100vw - 30px)!important;
    }
}
@media screen and (max-width: 500px) {
    .markdown-body img{
        width: 100%;
    }
    .markdown-body code {
        font-size:0.346667rem!important; 
    }
}
